@page "/members/create"
@using Data
@inject GolfMemberService golfMemberService
@inject NavigationManager navManager

<h3>Create</h3>
<MemberForm ButtonText="Create Member" mem="@NewMember"
            OnValidSubmit="@AddNewMember" />


@code {
    public GolfMember NewMember { get; set; } = new GolfMember();
    private async Task AddNewMember()
    {
        await golfMemberService.AddMemberAsync(NewMember);
        NewMember = new GolfMember();
        navManager.NavigateTo("/members/view");
    }
    
}

