@page "/members/create"
@using Data
@inject GolfMemberService golfMemberService
@inject NavigationManager navManager
@inject IJSRuntime js

<h3>Create Member</h3>
<br />
<MemberForm ButtonText="Create Member" mem="@NewMember"
            OnValidSubmit="@AddNewMember" />


@code {
    public GolfMember NewMember { get; set; } = new GolfMember();
    private async Task AddNewMember()
    {
        if (NewMember.Sex == "Male" && NewMember.Handicap > 26)
        {
            await js.InvokeVoidAsync("alert", "Handicap for Male Members must be between 0-26!!");
        }
        else{
            await golfMemberService.AddMemberAsync(NewMember);
            NewMember = new GolfMember();
            navManager.NavigateTo("/members/view");
        }
    }
    
}

