@page "/members/edit/{memberId:int}"
@using Data
@inject GolfMemberService golfMemberService
@inject NavigationManager navManager
@inject IJSRuntime js

<h3>Edit Member</h3>
<br />

<label>Membership ID: @mem.MemberID</label>
<MemberForm ButtonText="Update Member" mem="mem"
      OnValidSubmit="@EditMember" />

@code {
    [Parameter]
    public int memberID { get; set; }

    GolfMember mem = new GolfMember();

    protected override async Task OnInitializedAsync()
    {
        mem = golfMemberService.GetMember(memberID);
    }

    private async Task EditMember()
    {
        if (mem.Sex == "Male" && mem.Handicap > 26)
        {
            await js.InvokeVoidAsync("alert", "Handicap for Male Members must be between 0-26!!");
        }
        else
        {
            await golfMemberService.UpdateMemberAsync(mem);
            navManager.NavigateTo("/members/view");
        }
    }

}
