@page "/members/edit/{memberId:int}"
@using Data
@inject GolfMemberService golfMemberService
@inject NavigationManager navManager

<h3>Edit</h3>

<label>Membership ID: @mem.MemberID</label>
<MemberForm ButtonText="Update Member" mem="mem"
      OnValidSubmit="@EditMember" />

@code {
    [Parameter]
    public int memberID { get; set; }

    GolfMember mem = new GolfMember();

    protected override async Task OnInitializedAsync()
    {
        mem = golfMemberService.GetMember(memberID);
    }

    private async Task EditMember()
    {
        await golfMemberService.UpdateMemberAsync(mem);
        navManager.NavigateTo("/members/view");

    }

}
