@page "/"

<PageTitle>Golf Club App</PageTitle>

<div class="row">
    <div class="col mx-3">
        <center>
            <a href="/members/view"><img class="img-fluid" src="images/Members.png" /></a>
        </center>
    </div>
    <div class="col mx-3">
        <center>
            <a href="/teetimes/view"><img class="img-fluid" src="images/TeeTimes.png" /></a>
        </center>
    </div>
</div>


@code
{
}