@inherits LayoutComponentBase

<PageTitle>L00177784_CA2_GolfApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <img src="images/logo.png"/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
